html {
	height: 100%;
}

body {
    background: #132B36 !important;
    color: #ecf0f1 !important;
}

h1 {
    font: normal 50px "Helvetica Neue",Helvetica,sans-serif !important;
	text-align: center;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #305251 !important;
}

.text-center {
    text-align: center;
}

.pure-button.pure-button-primary.button-xlarge {
	font-size: 130%;
}
